@media (min-width: 1920px) {
  .container {
      max-width: 1660px;
  }
}


@media (min-width: 1440px) {
  .container {
      max-width: 1380px;
  }
}


@media (min-width: 1024px) {
  .container {
      max-width: 964px;
  }
}


@media (min-width: 768px) {
  .container {
      max-width: 708px;
      margin: 0 auto;
  }
}


/******* 425 ************/
// @media (max-width: 425px) {
//   body {
//     font-size: 12px;
//   }
//   .section-3-list {
//     padding: 25px 15px;
//     flex-direction: column;
//     align-items: center;
//     gap: 30px;
//   }
//   .section-4-in {
//     margin-bottom: 25px;
//   }
//   .ourWorks {
//     margin-bottom: 10px;
//   }
//   .cards-list {
//     flex-direction: column;
//     margin-bottom: 25px;
//   }
//   .cards-list img {
//     width: 100%;
//     height: 250px;
//     object-fit: cover;
//   }