@import 'reset';
@import 'fonts';
@import 'spinner';

body {
  text-align: center;
  font-size: 18px;
  font-family: 'Oxygen';
  letter-spacing: 1px;
}



//?=================== MAIN PAGE ==========================

.bodyMain {
  height: 100vh;
  background: url('../images/city.jpg') center/cover no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    margin: calc(50vh - 175px) auto;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.715);
    padding: 15px;
    border-radius: 12px;
    width: 500px;
    height: 350px;
  }
}

label {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

input {
  border-radius: 12px;
  border: none;
  font-size: 15px;
  padding: 5px 15px;
  margin: 7px 0;
}

.radio {
  width: 20px;
  height: 20px;
}

.gender {
  font-size: 20px;
  font-weight: 700;
}

.passError {
  display: none;
  padding: 10px 0;
  margin: 0 20px;
  background: white;
  border-radius: 30px;
  color: rgb(255, 0, 0);
}