@import 'reset';
@import 'fonts';
// @import 'spinner';

body {
  font-size: 18px;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  background-color: #F7F4F2;
  line-height: 150%;
}


.myMainContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
}

  .myButton {
  padding: 15px 20px;
  background: orange;
  color: rgb(25, 0, 255);
  transition: all .3s;
  text-decoration: underline;
  letter-spacing: 1px;
  font-weight: 700;

  &:active {
    background: rgb(118, 79, 8);
  }

  }

.myContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 50px;
  

		&__1 {
      background: #C4E0B2;
      border-radius: 65px;
      padding: 10px;
		}

		&__2 {
      border-radius: 65px;
      background: orange;
      padding: 30px;
		}
}

table {
  text-align: center;

}

td {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-left: 2px solid white;

  &:nth-child(1){
  border-left: none;
}
}

tr {
  border-bottom: 2px solid white;

  &:nth-last-child(1){
    border-bottom:none;
  }
}


.button-1, .button-2 {
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 18px;
  background: rgb(132, 175, 44);
  margin: 5px;
}





