@import 'reset';
@import 'fonts';
// @import 'spinner';

body {
  font-size: 18px;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  background-color: #F7F4F2;
  line-height: 150%;
}

.sectionMain {
  background: #F7F4F2;
}

.mainDiv {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
  background: rgb(62, 51, 71);
}




